body {
    background: rgba(204, 204, 204, 0.329);
}

.book {
    border: 1px solid grey;
    align-items: flex-start;
    margin: 10px;
}

.book-panel {
    display: flex;
    justify-content: left;
    border-radius:10px;
    margin-top: 20px;
}

.btn-book-block {
    margin-bottom: 5px;
    margin-left: 5px;
}
