input {
    margin: 10px;
    display: block;
    border: none;
    border-bottom: 1px solid grey;
}

#run-calculate-period {
    border: 1px solid gray;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}